.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    border-width: 0px 2px 0px 2px;
    border-color: rgba(224, 224, 224, 0.719);
    border-style: solid;

}