

.body{
    display: flex;
    flex-direction: column;
    gap: 100px;

    grid-column-start: 0;
    grid-column-end: 2;
}

.logo{
    width: 50px;
    height: 40px;

    margin-top: 50px;
    margin-left: 50px;
}

.icon{
    width: 36px;
    height: 36px;

    color: #0ba4e6;

    border-radius: 100%;
}

.bluegroup{
    display: flex;
    align-items: center;
    gap: 30px;

    background-color: rgba(255, 255, 255, 0);
    color: #0fb0f5;

    margin-bottom: 30px;
    margin-left: 40px;
}

.group{
    display: flex;
    align-items: center;
    gap: 30px;

    background-color: rgba(255, 255, 255, 0);

    margin-bottom: 30px;
    margin-left: 40px;
}

.tweetBtn{
    width: 300px;
    height: 55px;

    border-radius: 30px;

    background-color: #0fb0f5;
    color: white;

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.075);

    margin-left: 30px;
}

.tweetBtn:focus{
    outline: none;
}

.tweetBtn:hover{
    border-color: rgba(255, 255, 255, 0);

    background-color: #0ba4e6;
}

.group:focus{
    outline: none;
}

.group:hover{
    border-color: rgba(245, 222, 179, 0);
}