.body{
    grid-column-start: 3;
    grid-column-end: 4;
}

.searchbox{
    display: flex;
    align-items: center;
    gap: 10px;

    width: 70%;
    height: 36px;

    border-radius: 40px;
    border-style: none;

    margin-left: 20px;
    margin-top: 15px;

    background-color:  rgba(224, 224, 224, 0.719);
}

.searchbtn{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0fb0f5;

    border-radius: 100%;

    box-shadow: -5px 5px 10px rgba(177, 177, 177, 0.384);

    width: 40px;
    height: 40px;
}

.input{
    height: 36px;

    background-color: rgba(255, 255, 255, 0);
    
    border-style: none;

    margin-right: auto;

    color: rgba(0, 0, 0, 0.473);
}

.magnify{
    width: 20px;
    height: 20px;

    margin-left: 10px;
}

.icons{
    width: 40px;
    height: 40px;

    border-radius: 100%;
}

.userdiv{
    display: flex;
    align-items: center;

    margin-top: 20px;
}

.people{
    width: 70%;

    background-color: rgba(208, 222, 224, 0.425);

    border-radius: 30px;

    margin-left: 20px;
    margin-top: 20px;

    padding: 5px 0px 20px 5%;
}

.userdiv>button{
    margin-right: 15px;

    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #0fb0f5;

    background-color: #0fb0f500;
    color:#0fb0f5;
}

.userdiv>button:hover{
    border-color: #0fb0f5;
}

.icons:hover{
    cursor: pointer;
}

.searchbtn:focus{
    outline: none;
}

.userdiv>button:focus{
    outline: none;
}

.input:focus{
    outline: none;
}